@model IEnumerable<SwiftSetWeb.Models.SortingGroup>

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/index.css" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

<ul id="ChosenCategories" class="list-inline"></ul>
<div id="end">
    <div id="Groups">

        <table id="mainTable" class="table">
            <tbody>
                <tr>
                    <td>
                        <div class="ControlButtons">
                            <button class="btn btn-primary" id="ExercisesButton" type="button" onclick="location.href='@Url.Action("Index", "Exercises")'">Exercises (@ViewBag.NumExercises)</button>
                            <button class="btn btn-primary hidden" id="ClearSortButton">Clear Sorting</button>
                        </div>
                    </td>
                </tr>
                @foreach (var item in Model)
                {
                    bool isOriginal = !item.IsOriginal;
                    string isOriginalStr = item.IsOriginal ? "yes" : "no";
                    <tr>
                        <td hidden="@isOriginal" class="GroupRows @item.Id-group" original="@isOriginalStr">
                            <button class="btn btn-info GroupButton" id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div id="Categories">
        @foreach (var item in Model)
        {
            <div hidden class="CategoryRows @item.Id-categories">
                @if (@item.IsMultiChoice)
                {
                    <input class="btn btn-success hidden submitMulti submitMulti-@item.Id" type="submit" value="Submit" name="@item.Id" onclick="AddMultiCategory(this)" />
                    <div class="btn-group" data-toggle="buttons-checkbox">
                        @foreach (var category in item.Categories)
                        {
                            <button type="submit" class="btn btn-primary multiChoiceButton mcb-@item.Id" name="@item.Id" value="@category.Name" id="@category.Id">@category.Name</button>
                        }
                    </div>
                }
                else
                {
                    <div class="btn-group" data-toggle="buttons-checkbox">
                        @foreach (var category in item.Categories)
                        {
                            <button onclick="AddCategory(this,@category.Id)" class="btn btn-primary AddCategory" id="@category.Name">@Html.DisplayFor(modelItem => category.Name)</button>
                        }
                    </div>
                }
            </div>
        }
    </div>
</div>

    @section Scripts {

        <script type="text/javascript">
        $(document).ready(function () {
            $('.multiChoiceButton').on('click', function () {
                $(".submitMulti-" + this.name).removeClass('hidden');
            });

            $(".GroupButton").on("click", function () {
                $("." + this.id + "-categories").toggle();
             });

            $("#ClearSortButton").on("click", function () {
                $("#ChosenCategories").empty();
                $(".GroupRows").hide();
                $(".CategoryRows").hide();
                $('#ClearSortButton').addClass('hidden');
                $(".GroupRows[original='yes']").show();
                var path = '@Url.Action("ClearSort","Exercises")';
                $.ajax({
                    type: "DELETE",
                    url: path,
                });
                $("#ExercisesButton").text('Exercises (' +@ViewBag.NumExercises+')');
                $('.cbk').each(function () {//uncheck all checkboxes
                    this.checked = false;
                });
            });
        });

        function AddCategory(e,id) {
            $(e).closest('div').hide();
            var path = '@Url.Action("AddSort","Exercises")';
            $("#ChosenCategories").append('<li class="list-inline-item list-group-item-info">' + e.id + '</li>');
            $('#ClearSortButton').removeClass('hidden');
            $.ajax({
                type: "GET",
                url: path,
                data: { categoryId: id },
                success: function (response) {
                    $("#ExercisesButton").text('Exercises (' + response.count + ')');
                    for(i in response.newOptions){
                        $("." + response.newOptions[i] + "-group").show();
                    }
                },
            });
        }

        function AddMultiCategory(cat) {
            var ids = "";
            $(".mcb-"+cat.name).each(function (i, obj) {
                if ($(this).hasClass('active')) {
                    ids += $(this).attr("id") + ",";
                    $("#ChosenCategories").append('<li class="list-inline-item list-group-item-info">' + $(this).attr("value") + '</li>');
                    $(this).removeClass('active');
                }
            });
            if (ids == "") {
                alert("Please choose at least one option");
                return;
            }

            $(".CategoryRows").hide();
            $('#ClearSortButton').removeClass('hidden');
            var path = '@Url.Action("AddMultiSort","Exercises")';
            $.ajax({
                type: "GET",
                url: path,
                data: { categoryIds: ids },
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    $("#ExercisesButton").text('Exercises (' + response.count + ')');
                    $(".submitMulti").addClass('hidden');
                }
            });
        }
        </script>
    }
