@model IEnumerable<SwiftSetWeb.Models.SortingGroup>

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/index.css" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

<button class="btn btn-info" id="ExercisesButton" type="button" onclick="location.href='@Url.Action("Index", "Exercises")'">Exercises (@ViewBag.NumExercises)</button>
<button class="btn btn-info" id="ClearSortButton">Clear Sorting</button>
<ul id="ChosenCategories"></ul>
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            bool isOriginal = !item.IsOriginal;
            <tr hidden="@isOriginal" id="@item.Id-group" class="GroupRows">
                <td>
                    <button class="btn btn-info GroupButton" id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</button>
                </td>
            </tr>
            <tr hidden id="@item.Id-categories">
                <td>
                    <button class="btn btn-info BackToGroupButton" id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</button>
                    @foreach (var category in item.Categories)
                    {
                        <button onclick="AddCategory(this,@category.Id)" class="btn btn-info AddCategory" id="@category.Name">@Html.DisplayFor(modelItem => category.Name)</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $(".GroupButton").on("click", function () {
                $("#" + this.id + "-categories").toggle();
                $("#" + this.id + "-group").toggle();
             });

            $("#ClearSortButton").on("click", function () {
                $("#ChosenCategories").empty();
                $(".GroupRows").show();
                var path = '@Url.Action("ClearSort","Exercises")';
                $.ajax({
                    type: "DELETE",
                    url: path,
                });
                $("#ExercisesButton").text('Exercises (' +@ViewBag.NumExercises+')');
            });

            $(".BackToGroupButton").on("click", function () {
                $("#" + this.id + "-categories").toggle();
                $("#" + this.id + "-group").toggle();
            });
        });

        function AddCategory(e,id) {
            $(e).closest('tr').hide();
            var path = '@Url.Action("AddSort","Exercises")';
            $("#ChosenCategories").append('<li>' + e.id + '</li>');
            $.ajax({
                type: "GET",
                url: path,
                data: { categoryId: id },
                success: function (response) {
                    $("#ExercisesButton").text('Exercises ('+response+')');
                },
            });
        }    
    </script>
}