@model SwiftSetWeb.Models.Exercises

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Exercises</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Eliminated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Eliminated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Difficulty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Difficulty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Primary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Primary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Equipment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Equipment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movement)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movement)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Angle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Angle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tempo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tempo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Unilateral)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Unilateral)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Joint)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Joint)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stability)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stability)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sport)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sport)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Grip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Grip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
